*{
    margin: auto;
    padding: 0;
    align-items: center;
}

body{
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.container{
    width: 50%;
    height: 80vh;
    margin: 50px;
    display: flex;
    background: #cfecfe;
    background-color: rgb(207,236,254);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.container > .div{
    border: 2px solid black;
    width: 100px;
    height: 50vh;  
    border: none;
    background: #cfecfe;
    background-color: rgb(207,236,254);
}

h3{
    margin-bottom: 10px;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
}

h1{
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    color: royalblue;
    font-weight: bolder;
    padding: 15px 20px; 
}

